<html>
<body>
  <section>
  <% boil.api.data.modules.forEach(function(module){ %>
    <h1><%= module.name %></h1>
    <% module.classes.forEach(function(clss){ %>
      <h2><%= clss.name %></h2>
      <p><%= clss.description %></p>
      <ul>
        <li>Type: <%= clss.extends %></li>
        <li>Uses: <%= clss.uses %></li>
      </ul>
      <h4>Constructor args</h4>
      <ul>
        <% clss.constructor.params.forEach(function(param){ %>
          <li>name: <%= param.name %>, type: <%= param.type %>, description: <%= param.description %></li>
        <% }); %>
      </ul>
      <h3>Properties</h3>
      <% clss.properties.forEach(function(prop){ %>
        <h4><%= prop.name %></h4>
        <ul>
          <li>type: <%= prop.type %></li>
          <li>default: <%= prop.default %></li>
        </ul>
        example: <%= prop.example %>
      <% }); %>
      <h3>Methods</h3>
      <% clss.methods.forEach(function(method){ %>
        <h4><%= method.name %></h4>
        <ul>
          <% method.params.forEach(function(param){ %>
            <li>name: <%= param.name %>, type: <%= param.type %>, description: <%= param.description %></li>
          <% }); %>
        </ul>
      <% }); %>
      
    <% }); %>
  <% }); %>
  </section>
</body>
</html>